<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/images/13.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="signupForm">
            <h1>Register</h1>
            <div [ngClass]="className" role="alert">
              {{message}}
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="First Name" formControlName="firstname" />
              <label class="form-label" for="form3Example3"><b>First Name</b></label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Surname" formControlName="surname" />
                <label class="form-label" for="form3Example3"><b>Surname</b></label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Email" formControlName="email" />
                <label class="form-label" for="form3Example3"><b>Email</b></label>
              </div>

            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Password" formControlName="password" />
              <label class="form-label" for="form3Example4"><b>Password</b></label>
            </div>

            <div class="form-outline mb-3">
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Confirm Password"  formControlName="cpass"/>
                <label class="form-label" for="form3Example4"><b>Confirm Password</b></label>
              </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="signup()">Register</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="http://localhost:4200/Login"
                  class="link-danger">Login</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>