button{
    color: white;
    background-color: red;
    border: none;
    max-width: 150px;
    max-height: 50px;
    margin-left: 38%;
    margin-top: 10px;
    border: solid;
    border-color: black;    

    
}

button:hover{
    color: white;
    background-color: rgb(167, 1, 1);
    border: solid;
    border-color: black;
    
}

h1 {
    text-align: center;
}
p{
    font-size:18px;
    text-align: center;
}

.img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 38%;
    margin-top: 25px;
    margin-bottom: 35px;
}